@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply antialiased text-sm bg-gray-950
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
